body {
  background-color: #dfecf0;
  margin: 0;
  text-align: center;
}
.top-container{
  position: relative;
  padding-top:100px;
}
h1 {
  
  margin-top: 0;
}
.h3-desc {
  display: inline-block;
  margin-bottom: 1000px;
}
.pos-abs{
  position: absolute;
}
.img-wd {
  position: relative;
  display: inline-block;
  bottom: 90px;
  left: 500px;
}
.box1 {
  background-color: chocolate;
  width: 100px;
  height: 100px;
  position: relative;
  left: 200px;
}
.box2 {
  background-color: blueviolet;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 100px;
  left: 100px;
}
.box3 {
  background-color: deepskyblue;
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 200px;
}
.orange {
  width: 100px;
  height: 100px;
  background-color: orange;
  position: absolute;
  top: 200px;
  left: 200px;
}
.blue {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 100px;
  left: 100px;
}
.yellow {
  width: 100px;
  height: 100px;
  background-color: yellow;
  position: absolute;
  left: 0px;
  top: 0px;
}
.angular{
  position: absolute;
  right: 350px;
  top: 50px;
}
.react{
  position:absolute;
  left:350px;
  bottom: 400px;
}
